@media screen and (max-width: 768px) {
  .admin-container {
    background-color: aqua;
    height: 12vh;
    width: 100%;
  }
  .overs {
    display: flex;
    width: 100%;
    list-style-type: none;
    flex-wrap: wrap;
  }
  .score-btn {
    background-color: #4caf50;
    height: 43px;
    width: 120px;
    border: none;
    margin: 4px;
    font-size: 33px;
  }
  .score-list {
    display: flex;
  }
}
